.btn-primary {
    background-color: #24b6d3 !important;
    border: #24b6d3 !important;
    border-width: 1px !important;
    border-radius: 100px !important;
    margin-bottom: 10px;
}
.btn{
    border-radius: 100px !important;
}
video {
    width: 40vw;
    height: 30vw;
    margin: 2rem;
    background: #000;
}
  